.head-container{
    text-align: center; 
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    padding: 0,0,0,2em;
}
.navbar-link{
    text-decoration: none;
    color: black;
    font-size:  1.2em; 
}
